extends layout

block content
  h1= title
  p Welcome to #{title}
<<<<<<< HEAD
  p Here are the changes to the file:
  ul#changes
=======

  p #{async_data.firstUpdate}
>>>>>>> Display firstUpdate field to page
